.chatbub {
width: 50px;
    height: 50px;
}

#log, #reg {
    display: none;
}

#log:hover {
    display: inline-block;
}

body {
background-image: url(images/background2.jpg);
}

nav {
background-color: #00b8e6;
}