
<head>
  <title>chatroom</title>

</head>
<body>
     <nav>
    <div class="nav-wrapper">
       <img class="chatbub" src="images/chatbub2.png">
      <a href="" class="brand-logo">Chatroom</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
           {{#if currentUser}}
            
          <li><a>{{> dashboard}}</a></li>
          {{else}}
       <li><a>{{> loginButtons}}</a></li>
        {{/if}}
        </ul>
    </div>
  </nav>
</body>


<template name="dashboard">
    
    <p><a href="#" class="logout">Logout</a></p>
</template>

<template name="register" >
    <form id="reg">
        <input type="email" name="registerEmail">
        <input type="password" name="registerPassword">
        <input type="submit" value="Register">
    </form>
</template>

<template name="login">
    <form id="log">
        <input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <input type="submit" value="Login">
    </form>
</template>
