<template name="ApplicationLayout">

    <head>
        <title></title>
    </head>

    <body>
         {{> yield}}
        <hr/>
    </body>
</template>

<template name="welcome">
    {{#if currentUser}}
     {{else}}
    <h2>please login</h2> {{/if}}
    <form class="name-form">
        <input type="text" name="firstname">
        <input type="submit">
    </form>
    <ul>
        {{#each posts}}
        <li><a href="/post/{{_id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</template>

<template name="post">
    <h2 class="post-class">{{name}}</h2>
</template>